asgiref==3.8.1
beautifulsoup4==4.13.3
bootstrap4==0.1.0
decouple==0.0.7
Django==5.1.6
django-bootstrap4==24.4
django-decouple==2.1
django-jazzmin==3.0.1
django-sass-processor==1.4.1g
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
python-decouple==3.8
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
